<nav>
  <div class="logo"></div>
  <ul class="menu">
    <div class="menu__item toggle"><span></span></div>
    <li class="menu__item"><a href="{{'doc'|page}}" class="link link--dark"><i class="fa fa-book"></i> Documentation</a></li>
    <li class="menu__item"><a href="" class="link link--dark"><i class="fa fa-github"></i> Github</a></li>
  </ul>
</nav>
<div class="hero">
  <h1 class="hero__title">Scribbler</h1>
  <p class="hero__description">Take your markdown notes in terminal</p>
</div>
<div class="hero__terminal">
  <pre>
    <!-- Place your demo code here -->
    <code class="shell-session demo">hyperyolo ~ $ </code>
  </pre>
</div>
